---
apiVersion: v1
kind: Service
metadata:
  name: emojify-ingress-service
spec:
  type: NodePort
  selector:
    app: emojify-ingress
  ports:
  - name: http
    protocol: TCP
    port: 80
    targetPort: 80
    nodePort: 30000

---
apiVersion: v1
kind: ConfigMap
metadata:
  name: emojify-ingress-configmap
data:
  config: |
    events {
      worker_connections  1024;
    }

    http {
      upstream emojify-website {
        keepalive 100;
        server 127.0.0.1:8000;
      }
      upstream emojify-api {
        keepalive 100;
        server 127.0.0.1:8001;
      }

      server {
        location / {
          proxy_http_version 1.1;
          proxy_pass http://emojify-website;
          proxy_set_header Host $host;
        }

        location ~ ^/api(/.*)?$ {
          proxy_http_version 1.1;
          proxy_pass http://emojify-api$1$is_args$args;
          proxy_pass_request_headers on;
        }
      }
    }
  consul-config: |
    services {
      id   = "${POD_NAME}-emojify-ingress"
      name = "emojify-ingress"
      address = "${POD_IP}"
      port = 80
    
      connect {
        sidecar_service {
          port = 20000

          proxy {
            local_service_address = "127.0.0.1"
            local_service_port = 80

            config {
              protocol = "http"
              envoy_statsd_url = "udp://127.0.0.1:9125"
            }

            upstreams {
                destination_name = "emojify-website"                                                                   
                local_bind_port = 8000

                config {
                    protocol = "http"
                }
            }

            upstreams {
                destination_name = "emojify-api"                                                                   
                local_bind_port = 8001

                config {
                    protocol = "http"
                }
            }
          }
        }
      }
    
      checks {
        name = "Proxy Public Listener"
        tcp = "${POD_IP}:20000"
        interval = "10s"
        deregister_critical_service_after = "1m"
      }
    
      checks {
        name = "Destination Alias"
        alias_service = "emojify-ingress"
      }
    }

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: emojify-ingress
  labels:
    app: emojify-ingress
spec:
  replicas: 1
  selector:
    matchLabels:
      app: emojify-ingress
  template:
    metadata:
      name: emojify-ingress
      labels:
        app: emojify-ingress
      annotations:
        "prometheus_io_scrape": "true"
    spec:
      volumes:
      - name: config
        configMap:
          name: emojify-ingress-configmap
          items:
          - key: config
            path: nginx.conf
      - name: envoy-init
        configMap:
          name: emojify-ingress-configmap
          items:
          - key: envoy-bootstrap
            path: envoy_bootstrap.yaml
          - key: consul-config
            path: envoy_consul_config.hcl
      - name: envoy-config
        emptyDir: {}
      containers:
      - name: emojify-ingress
        image: nginx:latest
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 80
        volumeMounts:
        - name: config
          mountPath: /etc/nginx/

      - name: envoy-sidecar
        image: "envoyproxy/envoy-alpine:v1.8.0"
        command: ["envoy"]
        args: ["-c","/consul-init/bootstrap.yaml"]
        ports:
          - containerPort: 20000
        volumeMounts:
        - name: envoy-config
          mountPath: /consul-init
          readOnly: true
        lifecycle:
          preStop:
            exec:
              command: [
               "sh",
               "-c",
               "/consul-init/consul services deregister -http-addr=http://${HOST_IP}:8500 -id=${POD_NAME}-emojify-ingress-proxy"
               ]
        env:
        - name: HOST_IP
          valueFrom:
            fieldRef:
              fieldPath: status.hostIP
        - name: POD_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
        
      - name: prometheus-statsd
        image: prom/statsd-exporter:latest
        ports:
          - name: metrics
            containerPort: 9102
        resources:
          limits:
            memory: 100Mi
          requests:
            cpu: 100m
            memory: 100Mi
      
      initContainers:
      - name: envoy-init
        image: "nicholasjackson/envoy-init:latest"
        imagePullPolicy: Always
        env:
        - name: HOST_IP
          valueFrom:
            fieldRef:
              fieldPath: status.hostIP
        - name: POD_IP
          valueFrom:
            fieldRef:
              fieldPath: status.podIP
        - name: POD_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
        volumeMounts:
        - name: envoy-config
          mountPath: /consul-init
          readOnly: false
        - name: envoy-init
          mountPath: /init
          readOnly: false
